<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.huantek.veinserver.dao.SoftwareServerVersionDao">


    <insert id="ServerVersionUP">
        insert into vein_serverVersion(serverName,serverSize,serverCode,serverInfo,serverUrl,uploadTime)
            values(#{name},#{size},#{code},#{info},#{url},#{time})
    </insert>

    <select id="ServerVersionDownLatest" resultType="com.huantek.veinserver.model.ServerVersionModel">
        SELECT * from vein_serverVersion where id =
	        (select max(id) from vein_serverVersion)
    </select>
</mapper>

